/*a img{border:none}*/
/*
body
{
    overflow-x: hidden;
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}*/

#mainShell
{
    padding-bottom: 5px;
    margin: 0 auto;
    width: 99%;
    max-width: 1160px;
	height: 125px;
}

#mainShell ul.subDiv 
{
	top: 30px;
}

#mainShell #menuBar
{
    position: relative;
    width: 99%;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 5px;
    z-index: 900;
    width: 1148px;
}

#mainShell #menuHolder
{
    height: 125px;
    width: 100%;
    min-width: 940px;
    margin: 0 auto;
    position: relative;
}

#mainShell #logo
{
    height: 87px;
    width: 133px;
    float: left;
}
#mainShell #logo h1
{
    text-indent: -9999px;
    margin: 0;
    margin-top: 10px;
}
#mainShell #logo h1 a
{
    /*background: url(Image/Logo1.png) no-repeat top left;*/
    height: 67px;
    width: 190px;
    float: left;
    opacity: 0.7;
}
#mainShell #logo h1 a:hover
{
    opacity: 1;
}

#mainShell #menuWrapper
{
    margin: 0;
    margin-top: 33px;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    background: url(Image/menuBgNew.png) repeat-x center left;
    padding: 0px;
    height: 42px;
    border-radius: 13px;
    border: 1px solid rgb(255, 139, 45);
    position: relative;
	margin-right: 5px;
}

#mainShell #menu
{
    display: table-cell;
    padding-top: 4px;
    padding-left: 5px;
}

#mainShell #menu li
{
    padding: 10px;
    float: left;
    margin: 0px 3px 0 3px;
    list-style: none;
	padding-right: 7px;
	margin-left: 9px;
}
#mainShell #menu li:first-child
{
   margin-left:0;
}

#mainShell #menu li a
{
    text-decoration: none;
    text-align: center;
}


#mainShell a.mainNav
{
    height: 25px;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
}


 #mainShell .newList.father.hover.active , #mainShell .newList.father:hover
{
    background: url(Image/BTN_New.png) repeat-x center left;
    border-radius: 7px;
    padding: 10px;
    height:40px;
}

#mainShell .newList.active , #mainShell .newList:hover
{
    background: url(Image/BTN_New1.png) repeat-x center left;
    border-radius: 7px;
    padding: 10px;
}

#mainShell .newList.active a.mainNav, #mainShell .newList:hover a.mainNav
{
    color: #000;
}

#mainShell .wrapper
{
    background-image: url('Image/BTN_NEW12.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 11px;
}

#mainShell li:hover .wrapper, #mainShell li.active .wrapper
{
    background-image: url('Image/BTN_Product2.png');
    background-repeat: no-repeat;
}

#mainShellGray
{
    background-color: #D7D7D7;
    height: 40px;
    margin-top: 7px;
}

#mainShell ul.subDiv
{
    position: absolute;
     /* z-index: 2;*/ 
    width: 100%;
    height: 52px;
    padding-top: 23px;
    margin: 0;
    display: none;
}



#mainShell .newList.father:hover ul.subDiv , #mainShell .newList.father.active.hover ul.subDiv
{
    display: table;
    margin-left:-130px;
    
}

/*#mainShell .newList:hover ul.subDiv, #mainShell .newList.active ul.subDiv
{
    display:none;
   
}
*/


#mainShell ul.subDiv a
{
    background: transparent;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
    padding: 3px 6px;
    color:Black;
}

#mainShell .newList.father.active ul.subDiv a.active ,#mainShell .newList.father:hover ul.subDiv a:hover
{
    background: #ff8e2d;
    border: solid 1px #f30;
    border-radius: 5px;
    color:White;
}

#mainShell ul.subDiv li
{
    
}

/*
#mainShell .divBg
{
    background-image: url(Image/BGNew.png) ;
    margin:20px;
}
*/

/*#menu .newListList:hover>a{background:url(Image/BTN_New.png) repeat-x center left; border-radius: 7px;color:#000}*/
/*


#mainShell ul.subDiv.active
{
    display: block;
}




#mainShell a
{
    text-decoration: none;
}



*/


/*#LearningCenterSub{background:url(Image/BGNew.png) repeat-x;width:50px}
#ProductsSub{left:15px;background:url(Image/BGNew.png) repeat-x  0}
#ShowRoomSub{right:-43px;background:url(Image/BGNew.png) repeat-x  0}
#AboutSub{right:0;background:url(Image/BGNew.png) repeat-x  0;padding-right:5px}*/

/*#menu #LearningCenterList:hover>a{background:url(Image/BTN_New.png) repeat-x center left; border-radius: 7px;color:#000}
#menu #ProductsList:hover>a{background:url(Image/BTN_New.png) repeat-x center left; border-radius: 7px;color:#000}
#menu #ShowRoomList:hover>a{background:url(Image/BTN_New.png) repeat-x center left; border-radius: 7px;color:#000}
#menu #AboutList:hover>a{background:url(Image/BTN_New.png) repeat-x center left; border-radius: 7px;color:#000}*/
/*.ddd{float:right}*/
