/*************************************************************************** Info Page *********************************************************************************/
body {
    overflow-x: auto;
    background: #fff url(../../image/Library/ShellBackground2.jpg) no-repeat top center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 3px;
    background-color: #e3e3e3;
    border: 0px;
    margin: 0px;
    /*margin-bottom: 42px;*/
}

#mainHead {
    font-family: 'Segoe UI Light';
    font-size: 40px;
    color: #4c559f;
}



.subTopic {
    /*padding-top: 15px;*/
    margin-left: 15px;
}

#topMenu {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#spanEnroll:hover {
    text-decoration: underline;
}

.dates:hover {
    text-decoration: underline;
}

#topMenu li {
    list-style: none;
    list-style-position: inside;
    float: left;
    box-sizing: border-box;
}

    #topMenu li a {
        display: block;
        /*padding: 0 10px;*/
        /*background:rgba(0,0,0,.5);*/
        line-height: 30px;
        margin-right: 28px;
        position: relative;
    }

        /*#topMenu li a img {
            position: relative;
            top: 40px;
        }*/

        #topMenu li a span {
            padding-left: 13px;
            font-family: 'Segoe UI Light';
            font-size: 20px;
            color: #ff8e2d;
            position: relative;
            top: -5px;
        }

        #topMenu li a img,
        #topMenu li a span {
            display: inline-block;
        }

/*#topMenu li a #spanEnroll {
            padding-left: 36px;
        }*/

#left {
    width: 798px;
}

#right {
    width: 300px;
}

.spanDescTitle {
    font-family: 'Segoe UI Bold';
    font-size: 16px;
    color: #4b549e;
    /* margin-top: 42px; */
}

.divDescContent {
    font-family: 'Segoe UI';
    font-size: 13px;
    color: Black;
    line-height: 25px;
}

.divMargin {
    margin-bottom: 9px;
}

/*#tblMain
    {
        margin: auto;
        border: 1px solid #808080;
        padding: 7px;
        border-radius: 10px;
        box-shadow: 2px 2px black;
        width: 1156px;
    }*/

#spnVers {
    /*float: right;*/
    font-family: 'Segoe UI Light';
    font-size: 16px;
    color: #4c559f;
    /* position: absolute; */
    /* right: 0px; */
    /* top: -14px; */
    margin-top: 3px;
    margin-bottom: 15px;
}

#inpSearch {
    margin-top: 6px;
    border-radius: 5px;
    width: 270px;
    height: 30px;
    padding-left: 4px;
    border: solid 2px #ccc;
    padding-right: 40px;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    border-color: #4B559D;
}

    #inpSearch:focus {
        border: solid 2px #999;
    }

#imgSearch {
    position: absolute;
    top: 12px;
    right: 3px;
    border: 5px solid white;
}


#divImg {
    float: left;
    margin-top: 6px;
    width: 130px;
    height: 80px;
}

    #divImg a.pdfIcon {
        float: left;
        width: 54px;
        height: 54px;
        text-decoration: none;
        color: white;
    }

        #divImg a.pdfIcon img {
            display: block;
        }

    #divImg a.shareIcon {
        float: right;
        width: 54px;
        height: 54px;
        text-decoration: none;
        color: white;
    }

        #divImg a.shareIcon img {
            display: block;
        }

        #divImg a.shareIcon .iconsTitle,
        #divImg a.pdfIcon .iconsTitle {
            text-align: center;
            font-family: 'Segoe UI light';
            font-size: 11px;
            color: #ff8e2d;
            display: block;
        }

#divPartner {
    float: right;
}

#imgPartner {
    height: 30px;
    width: 115px;
    border-width: 0px;
    padding-top: 17px;
}

#contTableTitle {
    font-family: 'Segoe UI Bold';
    font-size: 26px;
    color: white;
}

#tblContacts {
    border-top: 6px solid #fb991b;
    background-color: #f7b22c;
    height: 230px;
    width: 270px !important;
    border-collapse: collapse;
    margin-top: 5px;
}

    #tblContacts tr:nth-child(4) td {
        padding-top: 7px;
    }

#pSend {
    float: right;
    margin-bottom: 3px;
}

.pContTbl {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: black;
    padding-left: 3px;
}

#pContTblInf {
    line-height: 32px;
    height: auto;
    margin: 0;
}


#trInfo {
    background-color: #fb991b;
    height: 30px;
}

#divEmail input {
    width: 246px;
}

.divTbl input {
    width: 115px;
}


.divTbl {
    margin-bottom: 2px;
    margin-left: 6px;
}

.divTblRight {
    margin-right: 7px;
    margin-left: 6px;
}

#mailAddress {
    color: black;
    text-decoration: none;
}

textarea {
    resize: none;
    width: 246px;
}

#tblDates {
    border-top: 6px solid #0b113f;
    margin-top: 6px;
    margin-right: 6px;
    background-color: #49529a;
    width: 270px;
}

#divDatesTitle {
    font-family: 'Segoe UI Bold';
    font-size: 26px;
    color: #98a1e6;
}

.divDates {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: white;
    margin-top: 3px;
    text-decoration: none;
}

.divDatesA {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: white;
    text-decoration: none;
    line-height: 27px;
}

    .divDatesA:hover {
        text-decoration: underline;
    }

#tblCourses {
    border-top: 6px solid #d0d0d0;
    background-color: #f7f7f7;
    width: 270px;
    border-bottom: 6px solid #d2d2d2;
    margin-top: 10px;
}

.divMoreCourses {
    font-family: 'Segoe UI';
    font-size: 11px;
    color: black;
    text-decoration: none;
}

    .divMoreCourses:hover {
        text-decoration: underline;
    }

#divTblCourses {
    font-family: 'Segoe UI Bold';
    font-size: 26px;
    color: #bfbfbf;
}

.mainpage {
    position: relative;
    border: 0 solid #000;
    margin: 0 auto;
    /*overflow: hidden;*/
    margin-top: -4px;
    border-radius: 13px;
    border: solid 4px #fff;
    background: #fff;
    box-shadow: 0 0 10px #333;
    width: 1156px;
    margin-bottom: 50px !important;
}

    .mainpage .courseHeader {
        width: 1120px;
        margin: 0 20px;
        box-sizing: border-box;
    }

        .mainpage .courseHeader .syllabusTitle {
            width: 800px;
            padding-bottom: 12px;
        }

            .mainpage .courseHeader .syllabusTitle h1 {
                margin: 0;
                color: #4b559d;
                font-size: 40px;
                font-weight: normal;
                font-family: Segoe UI Light;
                min-height: 60px;
            }

            .mainpage .courseHeader .syllabusTitle ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

                .mainpage .courseHeader .syllabusTitle ul li {
                    float: left;
                    padding-top: 20px;
                }

                    .mainpage .courseHeader .syllabusTitle ul li:not(.enrollBtn) {
                        padding-top: 0px;
                    }

                    .mainpage .courseHeader .syllabusTitle ul li a.enrollBtn {
                        width: 279px;
                        height: 43px;
                        background: url("../../Image/Syllabus/enroll_btn.png") no-repeat;
                        display: block;
                        text-indent: -9999px;
                    }

                        .mainpage .courseHeader .syllabusTitle ul li a.enrollBtn:hover {
                            background: url("../../Image/Syllabus/enroll_btn_hover.png") no-repeat;
                        }


                    .mainpage .courseHeader .syllabusTitle ul li a.classDate {
                        font-family: Segoe UI Light;
                        color: #ff8e2d;
                        font-weight: normal;
                        font-size: 20px;
                        padding-left: 30px;
                        margin-left: 20px;
                        text-decoration: none;
                        line-height: 40px;
                        background: url(../../Image/calendarIcon.png) no-repeat left top;
                    }

                    .mainpage .courseHeader .syllabusTitle ul li a.classDayes {
                        font-family: Segoe UI Light;
                        color: #ff8e2d;
                        font-weight: normal;
                        font-size: 20px;
                        padding-left: 30px;
                        margin-left: 20px;
                        text-decoration: none;
                        line-height: 40px;
                        background: url(../../Image/clockOrangeIcon.png) no-repeat left top;
                    }

                    .mainpage .courseHeader .syllabusTitle ul li a.classDate:hover {
                        text-decoration: underline;
                    }

        .mainpage .courseHeader .syllabusShare {
            padding-left: 40px;
            text-align: right;
            padding-bottom: 12px;
        }

            .mainpage .courseHeader .syllabusShare .logo img {
                max-width: 130px;
            }

            .mainpage .courseHeader .syllabusShare span:first-child {
                margin-right: 20px;
            }


.bigTdRight {
    float: right;
    margin-right: 6px;
}

/*.imgDate, .spanDate {
    display: inline-block;
}*/

/*.imgDate, .spanDate:hover {
    text-decoration: underline;
    }*/

.imgDate {
    float: left;
}

.spanDate {
    position: absolute;
    top: 3px;
}

#divReq {
    margin: 6px;
    font-family: 'Segoe UI Light';
    font-size: 18px;
    color: #585858;
}

.pdfTittle {
    font-family: 'Segoe UI Light';
    font-size: 11px;
    color: #ff8e2d;
}

#divSmallPartner {
    margin: 10px auto;
}

.aDate {
    display: block;
    position: relative;
}

.divWidth {
    width: 185px;
}

.tdEnroll {
    position: relative;
}

.divEnroll {
    top: 2px;
}

.liTab {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #494949 !important;
    /*display: block;*/
}

.liTab:first-child{
    padding-top: 10px;
}

.padding {
    /*padding-right:40px;*/
}

.lipadding {
    padding-bottom: 11px;
  //  padding-top: 11px;
    padding-right: 25px;
}

.ulPadding {
    padding: 20px;
    margin: 0px;
    margin-right: 70px;
}
/*.aTab
    {
        font-family: 'Segoe UI Light';
        font-size: 20px;
        color: #ff8e2d;
    }*/

.divEnroll:hover {
    text-decoration: underline;
}

#tdhr {
    position: relative;
    padding-right: 14px;
}

#imgTriang {
    position: relative;
    left: 70px;
    top: -4px;
}

.leftPadding {
    /*padding-left: 25px;*/
    position: relative;
}

.posRel {
    position: relative;
}

.pdfTitle2 {
    position: absolute;
    top: 21px;
    left: 17px;
}
/*#imgPdf
    {
        vertical-align: middle;
    }*/
.ExpandButton {
    float: right;
    margin-top: 10px;
    /*font-family: "Segoi UI";*/
    font-family: Arial;
    font-size: 12px;
    color: white;
    background-color: #4b549e;
    width: 91px;
    height: 27px;
    line-height: 25px;
    text-align: center;
    margin-right: -10px;
}


.tabsDiv {
    width: 715px;
}

.Rtl {
    direction: rtl;
}

.parent {
    list-style-type: none;
}

.imgMinus {
    /*background: url('../../Image/minus.png') no-repeat top left;*/
    /*padding-left: 28px;*/
    padding-top: 0px;
    padding-right: 25px;
    cursor: pointer;
}

.imgPlus {
    /*background: url('../../Image/plus.png') no-repeat top left;*/
    /*padding-left: 28px;*/
   // padding-top:11px;
    padding-right: 25px;
    cursor: pointer;
    /*padding-bottom: 32px;*/
}

.marginLeft {
    margin-left: -25px;
}

.icoPlusMinus {
    /*text-decoration: none;*/
    /*height: 33px;*/
}



.DatesDialog .ui-dialog-titlebar {
    display: none;
}

/*.DatesDialog .ui-dialog-title {
    display:none;
}*/

/*.DatesDialog .ui-dialog-titlebar {
    background:transparent;
    border:none;
}*/

/*.DatesDialog .ui-dialog .ui-dialog-titlebar-close {
    right:0;
    
}*/

.DatesDialog.ui-dialog {
    padding: 0px;
    border: 0px;
}


#Msg.ui-dialog-content.ui-widget-content {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    height: auto !important;
}


#TimeTable {
    width: 100%;
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: center;
}

    #TimeTable td {
        padding: 10px;
    }

    /*#TimeTable th {
        font-size: 14px;
        font-weight: normal;
        color: #039;
        border-bottom: 2px solid #6678b1;
        padding: 10px 8px;
    }*/

    #TimeTable th {
        font-size: 14px;
        font-weight: normal;
        color: white;
        padding: 10px 8px;
        background-color: #ff4400;
        border-right: 1px solid white;
    }


    #TimeTable tr:not(:first-child) {
        border-top: 1px solid black;
    }

    #TimeTable tr:last-child {
        border-bottom: 1px solid black;
    }

/*#Msg*/ .ColoseWhiteX {
    width: 15px;
    height: 15px;
    display: block;
    right: 1px;
    top: 2px;
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}


.Pclass {
    margin: 0;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 21px;
    background-color: #f7f7f7;
    border: 2px solid #fb991b;
    margin-right: 3px;
}

    .Pclass:hover {
        background-color: #49529a;
        cursor: pointer;
    }


.TriAschii {
    float: left;
    margin-left: 5px;
}

#ExpandBtn {
    cursor: pointer;
}

.NoCourseDialog {
    /*text-align: center;*/
    padding: 5px;
}

.flag {
    float: right;
}


.noCursor {
    cursor: default;
    color: white;
}

.Shere {
    width: 300px;
    height: 111px;
    position: absolute;
    border: 2px solid #FF8F2D;
    right: 210px;
    z-index: 1;
    top: 148px;
    background: #f4f4f4;
    border-radius: 10px 10px 10px 10px;
}

.ShereContainer {
    /*border: 1px solid red;*/
    width: 206px;
    margin-top: 37px;
    height: 30px;
    margin-left: 45px;
}

.ShereCloseBtn {
    float: right;
    border: 1px solid gray;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.Shpiz {
    background: url('/Image/Syllabus/shpiz.png') no-repeat;
    width: 25px;
    height: 15px;
    margin-top: -14px;
    margin-left: 138px;
}

/********************************************************************  jQuery UI  **********************************************************************************************************************/




#tabs.ui-tabs .ui-tabs-nav {
    padding: 0;
}


#tabs.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #f8f8f8;
}

#tabs.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #ffffff;
}

    #tabs.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
        color: #eb8f00;
    }


#tabs.ui-tabs .ui-tabs-nav li {
    margin-right: 20px;
}

    #tabs.ui-tabs .ui-tabs-nav li a {
        /*padding: 20px 25px;*/
        font-family: 'Segoe UI Light';
        font-size: 20px;
        outline: none;
    }

#tabs.ui-tabs .ui-tabs-panel {
    border: 1px solid;
    color: #ebebeb;
    padding: 20px;
    padding-top: 0px;
}



#tabs.ui-widget-content {
    border: 0;
    background: none;
}


#tabs .ui-widget-header {
    border: 0;
    background: none;
}

    #tabs.ui-widget-header .ui-state-default {
        border: 1px solid #ebebeb;
    }


#tabs.ui-state-default a:visited {
    color: #767676;
}

#tabs.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0px;
}

#tabs.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0px;
}



.libackgroundcolor {
    background-color: #f7f7f7;
    padding-left: 28px;
    position: relative;
    right: 28px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #d3d3d3;
}


.divEnrollA {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: white;
    text-decoration: none;
}





.closeBig {
    width: 80px;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: #ff4400;
    text-align: center;
    padding: 10px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;
}



.sendDialog {
    height: 700px;
    width: 470px;
    /*position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;*/
    background: white;
    font-family: 'Segoe UI';
}

.ui-dialog .ui-dialog-content .sendEmailDialog {
    padding: 0px;
}

.headEmail {
    height: 92px;
    /*width: 470px;*/
    background: URL("../../Image/Syllabus/HEADER_dialog.jpg") no-repeat;
}


.emailInput {
    border: #c0c0c0 solid 1px;
}

.buttonS {
    height: 30px;
    width: 120px;
    background: #ff822d;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe Ui';
    font-size: 22px;
    color: white;
    float: right;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.tableEmail {
    font-family: 'Segoe UI';
    font-size: 17px;
}

.bookLink {
    background: red;
}

.emailInputRadio:not([type="radio"]) {
    width: 30px;
}

.emailInputText {
    width: 325px;
    height: 33px;
    outline: none;
}

.emailInputRadio {
    /*width: 305px;*/
    /*font-family: 'Segoe Ui';
    font-size: 17px;*/
}

.phoneDiv {
    margin-left: 8px;
    margin-right: 5px;
    margin-top: 4px;
}

.phoneSpan {
    position: relative;
    top: -2px;
    font-family: "Segoe UI";
    font-size: 11pt;
    color: white;
}


.trInfo {
    background-color: #fb991b;
    /*height: 30px;*/
}

.faxImg {
    margin-left: 4px;
    margin-top: 4px;
}

.spanFaxMail {
    position: relative;
    top: -4px;
    font-family: "Segoe UI";
    font-size: 8.2pt;
    color: white;
}


.emailShare {
    position: relative;
    height: 100%;
    width: 150px;
    height: 100px;
    margin-right: 5px;
    margin-top: 15px;
}

    .emailShare img:first-child {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
    }

    .emailShare img:last-child {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: 0;
    }

.emailCourseTitle {
    color: #c85100;
    font-family: "Segoe UI";
    margin-left: 6px;
    font-size: 25px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.pointer {
    cursor: pointer;
}

.pdfSmall {
    float: right;
    position: relative;
    top: -24px;
    border: none;
    outline: none;
    width: 64px;
}

    .pdfSmall img {
        outline: none;
        border: none;
    }

.enrollNewDiv {
    position: relative;
    top: -7px;
}


.clockIconPadding {
    padding-top: 10px;
}

.ColoseWhiteXsend {
    width: 15px;
    height: 15px;
    display: block;
    right: 1px;
    top: 2px;
    position: absolute;
    color: red;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}




.ui-dialog .ui-dialog-content {
    padding: 0 !important;
    overflow: visible!important;
}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .DatesDialog .ui-draggable {
    width: 470px;
    height: auto !important;
}

.FormElement {
    width: 320px;
    height: 174px;
    outline: none;
}

.emailAdressText {
    height: 30px;
    width: 296px;
    outline: none;
}

.divSndMailText {
    margin-bottom: 20px;
    margin-left: 10px;
}


.tdMess {
    vertical-align: top;
}

.emailInput {
    margin-right: 10px;
}

.emailTitle {
    position: absolute;
    top: 64px;
    left: 10px;
    font: bolder;
    font-family: 'Segoe UI bold';
    font-size: 16px;
}

.buttonCancel {
}

.STF {
    float: right;
    position: relative;
    top: -24px;
    border: none;
    outline: none;
}





.dialogWidth {
    width: 500px;
    height: 800px;
}

/************************************************************************************************** End *****************************************************************************************/


#backToLobby {
    width: 82px;
    height: 40px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 131;
}

    #backToLobby a {
        text-indent: -99999px;
        width: 82px;
        height: 40px;
        display: block;
        opacity: .7;
        background: url("../../Image/Syllabus/BackToLibraryBtn.png") no-repeat;
        -webkit-transition: opacity .5s linear;
        -o-transition: opacity .5s linear;
        -moz-transition: opacity .5s linear;
        -ms-transition: opacity .5s linear;
        transition: opacity .5s linear;
        border-radius: 0;
    }

        #backToLobby a:hover {
            opacity: 1;
            border-radius: 0;
            background: url("../../Image/Syllabus/BackToLibraryBtn.png") no-repeat;
        }



.NoCourseDialog {
    background-color: #ff4400;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Arial';
    font-size: 14pt;
    color: white;
    padding: 10px;
}

.divTextAttention {
    background-color: #f7f7f7;
    font-family: 'Arial';
    font-size: 14pt;
    padding-top: 10px;
}


.grayBackground {
    background-color: #f7f7f7;
    padding-left: 10px;
}

.allnodates input {
    width: 254px;
    margin-bottom: 5px;
}

.allnodates table {
    padding: 10px 0;
}

.PclassN {
    margin: 0;
    width: 63px;
    text-align: center;
    height: 20px;
    line-height: 21px;
    background-color: #fb991b;
    border: 2px solid #fb991b;
    margin-right: 3px;
    float: right;
}

.divTblRightN {
    margin-left: 19px;
}

.pContTblN {
    padding-left: 10px;
}


.PclassN:hover {
    cursor: pointer;
}


.test1Plus {
    background: url('../../Image/plus.png') no-repeat top left;
    position: relative;
    left: -26px;
    /* top: 26px; */
    min-width: 25px;
    min-height: 25PX;
}

.test1Minus {
    background: url('../../Image/minus.png') no-repeat top left;
    position: relative;
    left: -26px;
    /* top: 26px; */
    min-width: 25px;
    min-height: 25PX;
}

.pImgPlus {
    background: url('../../Image/plus.png') no-repeat top left;
    width: 25px;
    height: 31px;
    padding: 0;
    margin: 0;
    position: relative;
    right: 25px;
    bottom: 22px;
    margin-bottom: -30px;
}


.pImgMinus {
    background: url('../../Image/minus.png') no-repeat top left;
    width: 25px;
    height: 31px;
    padding: 0;
    margin: 0;
    position: relative;
    right: 25px;
    bottom: 22px;
    margin-bottom: -30px;
}